// Fuentes
@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
$font-family-primary: "Lato", serif;
$font-family-secondary: "Belleza", serif;


// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$color-primary: #E14F3E;
//$color-primary: #ff8409;
$color-secondary: #fbe267;
$color-black: #000000;
$color-dark: #240501;
$color-light: #F2EED4;
$color-white: #FFFFFF;
$color-gray: #36312B;
$color-red: rgb(169, 0, 0);
$color-green: #02db02;
$color-brown: #4d2e2e;
$color-salmon: #Ff8c69;

$gradient-background: linear-gradient(90deg, color.adjust($color-gray, $lightness: 10%) 0%, color.adjust($color-gray, $lightness: -10%)  100%);
$gradient-button: linear-gradient(90deg, #6b3fa5 0%, #6961fa 100%);
$glass-effect: rgba(255, 255, 255, 0.1);

// Fuentes
$tiny: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font sizes
$font-sm: 1.2rem;
$font-rg: 1.8rem;
$font-md: 2.4rem;
$font-xl: 3.2rem;
$font-lg: 4.8rem;